.alert-light-danger {
  background-color: #feefd0 !important;
  color: #f55252 !important;
  border-color: #feefd0;
}

.btn-primary {
  color: #ffff !important;
}

.card {
  min-width: 30rem;
}
.card-title {
  text-transform: none !important;
  text-align: center;
  font-size: 32px !important;
  font-weight: 500;
  color: #1975da;
}
.gbutton {
  padding: 2px;
  font-weight: 300;
  color: #b3afaf;
  border: 1px solid #b3afaf;
  border-radius: 4px;
  font-size: 7px;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10%;

  img {
    width: 22px;
    margin-left: 10px;
    margin-top: -6px;
  }
  p {
    margin-left: 25%;
    white-space: nowrap;
    margin-top: 8px;
  }
}
.or-text {
  text-align: center;
  color: #bdb9b9;
}

form label {
  color: #75787d;
  font-size: 0.75rem;
  text-transform: none !important;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.terms-text {
  // text-align: center;
  font-size: 12px;
  line-height: 20px;
}
.login-btn {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(3, 101, 192) 0%,
    rgb(2, 118, 226) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none !important;
  width: 100%;
  border-radius: 0px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.frgt-pwd {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #808080;
}
a {
  color: #1975da !important;
}
.cus-lbl-txt {
  color: #75787d;
  font-size: 0.75rem;
  text-transform: none !important;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
