<div class="h-100 bg-premium-dark">
    <form [formGroup]="form">
        <div class="row auth-height full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body auth-img">
                            <div class="row m-0">
                                <div class="col-lg-12 col-12 px-4 py-3">
                                    <h4 class="mb-2 card-title" *ngIf="isValidLink">Reset Password</h4>
                                    <div *ngIf="isValidLink">
                                        <div class="form-group">
                                            <label for="password">New Password</label>
                                            <input type="password" formControlName="password" class="form-control"
                                                   placeholder="New Password"
                                                   [ngClass]="{ 'is-invalid': (resetPasswordFormSubmitted || lf.password.touched) && lf.password.invalid,
                                                                 'is-valid':  !lf.password.invalid }">

                                            <div *ngIf="(resetPasswordFormSubmitted || lf.password.touched) && (lf.password.errors?.required)"
                                                 class="help-block mt-1 text-danger">
                                                New Password is required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm Password</label>
                                            <input type="password" formControlName="confirmPassword" class="form-control"
                                                   placeholder="Confirm Password"
                                                   [ngClass]="{ 'is-invalid': (resetPasswordFormSubmitted || lf.confirmPassword.touched) && lf.confirmPassword.invalid,
                                                                 'is-valid':  !lf.confirmPassword.invalid }">
                                            <div *ngIf="(resetPasswordFormSubmitted || lf.confirmPassword.touched) && (lf.confirmPassword.errors?.required)"
                                                 class="help-block mt-1 text-danger">
                                                Confirm Password is required
                                            </div>
                                            <div *ngIf="(lf.confirmPassword.touched && lf.password.touched && lf.confirmPassword.value!=lf.password.value)"
                                                 class="help-block mt-1 text-danger">
                                                New Password and Confirm Password doesn't match
                                            </div>
                                        </div>
                                        <div style="text-align: center">
                                            <button class="btn btn-primary login-btn" (click)="onSave()">
                                                Reset
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="isShowLogIn" style="text-align: center">
                                        <h6>Your password has been reset successfully!.</h6>
                                        <button class="btn btn-primary login-btn" [routerLink]="'/login'">
                                            Sign In
                                        </button>
                                    </div>
                                    <div *ngIf="!isValidLink" style="text-align: center">
                                        <h4 class="mb-2 card-title">Invalid Link or Link Expired</h4>
                                        <button class="btn btn-primary login-btn" [routerLink]="'/login'">
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>