
<div class="h-100 bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <form [formGroup]="form" novalidate>
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="h5 modal-title text-center">
                                <h4 class="mb-2 card-title">Forgot Password</h4>
                            </div>
                            <div *ngIf="!isSuccess; else emailSent">
                                <p class="help-text">
                                    Enter your <strong>email address </strong>that you used to
                                    register. We’ll send you an email <br />
                                    with a <strong> link </strong>to reset your password.
                                </p>
                                <div class="form-group">
                                    <label for="emailAddress">Email</label>
                                    <input type="text"
                                           formControlName="emailAddress"
                                           class="form-control"
                                           placeholder="Email"
                                           [ngClass]="{'is-invalid':(registerFormSubmitted || lf.emailAddress.touched) && lf.emailAddress.invalid,
                                                    'is-valid': !lf.emailAddress.invalid }" />
                                    <div *ngIf="(registerFormSubmitted || lf.emailAddress.touched) && lf.emailAddress.errors?.required"
                                         class="help-block mt-1 text-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="(registerFormSubmitted || lf.emailAddress.touched) && lf.emailAddress.errors?.email"
                                         class="help-block mt-1 text-danger">
                                        Please enter valid email
                                    </div>
                                </div>

                                <div style="text-align: end">

                                    <button type="button" class="mb-2 mr-2 btn-shadow d-inline-flex align-items-center btn btn-warning" [routerLink]="'/login'">
                                         Cancel
                                    </button>

                                    <button type="submit" class="mb-2 mr-2 btn-shadow d-inline-flex align-items-center btn btn-primary" (click)="onSubmit()">
                                      Submit
                                    </button>
                                </div>
                            </div>
                            <ng-template #emailSent>
                                <div class="link-message">
                                    <p>
                                        Password link has been sent your Email, Please check your email.
                                        <br /> <br />
                                        <a [routerLink]="'/login'"> Click here to login</a>
                                    </p>
                                </div>
                            </ng-template>
                           
                        </div>
                        <div class="modal-footer clearfix">
                            <!-- <div class="float-left">
                                <a [routerLink]="'/forgotpassword'" class="btn-lg btn btn-link">
                                    Forgot Password?
                                </a>
                            </div>
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary btn-lg" (click)="onLogin()">
                                    <i class="ft-log-in mr-1"> </i>
                                    Login
                                </button>
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="text-center text-white opacity-8 mt-3">
                Copyright © 2021
            </div> -->
        </div>
    </div>
</div>

<!-- 
<div class="h-100 bg-premium-dark">
    <form [formGroup]="form" novalidate>
        
            <div class="row auth-height full-height-vh m-0">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="card overflow-hidden">
                        <div class="card-content">
                            <div class="card-body auth-img">
                                <div class="row m-0">
                                    <div class="col-lg-12 col-12 px-4 py-3">
                                        <h4 class="mb-2 card-title">Forgot Password</h4>
                                        <div *ngIf="!isSuccess; else emailSent">
                                            <p class="help-text">
                                                Enter your <strong>email address </strong>that you used to
                                                register. We’ll send you an email <br />
                                                with a <strong> link </strong>to reset your password.
                                            </p>
                                            <div class="form-group">
                                                <label for="emailAddress">Email</label>
                                                <input type="text"
                                                       formControlName="emailAddress"
                                                       class="form-control"
                                                       placeholder="Email"
                                                       [ngClass]="{'is-invalid':(registerFormSubmitted || lf.emailAddress.touched) && lf.emailAddress.invalid,
                                                                'is-valid': !lf.emailAddress.invalid }" />
                                                <div *ngIf="(registerFormSubmitted || lf.emailAddress.touched) && lf.emailAddress.errors?.required"
                                                     class="help-block mt-1 text-danger">
                                                    Email is required
                                                </div>
                                                <div *ngIf="(registerFormSubmitted || lf.emailAddress.touched) && lf.emailAddress.errors?.email"
                                                     class="help-block mt-1 text-danger">
                                                    Please enter valid email
                                                </div>
                                            </div>

                                            <div style="text-align: end">

                                                <button type="button" class="mb-2 mr-2 btn-shadow d-inline-flex align-items-center btn btn-warning" [routerLink]="'/login'">
                                                    <i-feather name="Minus" class="mr-2"></i-feather> Cancel
                                                </button>

                                                <button type="submit" class="mb-2 mr-2 btn-shadow d-inline-flex align-items-center btn btn-primary" (click)="onSubmit()">
                                                    <i-feather name="check-square" class="mr-2"></i-feather>Submit
                                                </button>
                                            </div>
                                        </div>
                                        <ng-template #emailSent>
                                            <div class="link-message">
                                                <p>
                                                    Password link has been sent your Email, Please check your email.
                                                    <br /> <br />
                                                    <a [routerLink]="'/login'"> Click here to login</a>
                                                </p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </form>
</div> -->