button.btn.btn-primary.recover-pass {
  color: #fff !important;
}
.forgotForm {
  overflow: hidden !important;
}
.forgot-btn {
  background: rgb(2, 0, 36);
  background: #00a7ff;
  border: none !important;
  /* width: 90%; */
  /* border-radius: 0px; */
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.forgot-cancel-btn {
  background: #a5a5a5;
  border: none !important;
  /* width: 90%; */
  /* border-radius: 0px; */
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.card {
  min-width: 40rem;
}
.card-title {
  text-transform: none !important;
  text-align: center;
  font-size: 28px !important;
  font-weight: 600 !important;
  letter-spacing: 0px !important;
}
.link-message {
  p {
    font-size: 14px;
    font-weight: 400;
    color: #02b585;
    text-align: center;
  }
}
.help-text {
  font-size: 13px;
  font-weight: 350;
  text-align: center;
}
a {
  color: #00a7ff !important;
}
