.scroll-area-lg {
    height: 100%;
}


.event-div {
    // background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    background:#d822b1;
    text-align: center;
    color:white;
}

