<app-page-title [isVisible]="true"
                [isAddVisible]="true"
                [isRefreshVisible]="true"
                [heading]="heading"
                [subheading]="subheading"
                [icon]="icon"
                [refreshButtonText]="'Refresh'"
                [addNewButtonText]="'Add Projects'"
                (onRefreshClick)="refreshClicked()"
                (onAddNewClick)="onNewClicked()">
</app-page-title>

<app-filter-data-table placeholder="Filter ..."
                       (onFilterKeyPress)="filter($event)">
</app-filter-data-table>

<ngx-datatable class="bootstrap core-bootstrap"
               [rows]="rows"
               [columnMode]="ColumnMode.force"
               [headerHeight]="50"
               [footerHeight]="50"
               [limit]="5"
               rowWidth="auto"
               rowHeight="auto">


<!-- <ngx-datatable-column name="S.No" prop="id">
</ngx-datatable-column> -->

    <ngx-datatable-column name="Name" prop="projectName">
    </ngx-datatable-column>

    <ngx-datatable-column name="Description" prop="description">
    </ngx-datatable-column>
    <ngx-datatable-column name="City" prop="city">
    </ngx-datatable-column>
    <ngx-datatable-column name="BHK" prop="bhk">
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions">
        <ng-template ngx-datatable-cell-template let-row="row">
            <div>
                <a class="info p-0" (click)="onEdit(row)">
                    <i-feather name="image" class="mr-2 fa-2x" title="Add"></i-feather>
                </a>
                <a class="info p-0" (click)="onEdit(row)">
                    <i-feather name="edit" class="mr-2 fa-2x" title="Edit"></i-feather>
                </a>
                <a class="danger p-0">
                    <i-feather name="trash2" class="mr-2 fa-2x" title="Delete" (click)="onDelete(row)"></i-feather>
                </a>
            </div>
        </ng-template>

    </ngx-datatable-column>
</ngx-datatable>